body{
    background-color: rgb(211, 209, 209);
    align-items: center;
    justify-content: center;
}
table{
    width: 60%;
    height: 50%;
    margin-left: 350px;
    margin-top: 100px;
    background-color: rgb(230, 226, 223);
    border-collapse: collapse;
    

}

.display{
    display: flex;
}