body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f4f9;
}
.titulo {
    background-color: #333;
    color: white;
    width: 100%; 
    text-align: center;
    padding: 20px 0;
    margin-top: 0;
}
.posicion_tabla {
    width: 90%;
    max-width: 800px;
    background-color: white;
    border-collapse: collapse; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-top: 20px;
}
th {
    background-color: #222;
    color: white;
    padding: 15px;
    text-align:  center;
}
td {
    padding: 12px;
    border-bottom: 1px solid #eee;
    text-align:  center;
}
.nav {
    align-items: left;
    justify-content: left; 
    gap: 20px;
    flex-wrap: wrap;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    white-space: nowrap;
}

.nav a:hover {
    text-decoration: underline;
}